<table border="1">
   <tr>
      <th>City name</th>
   </tr>
   {{#each cities }}
      <tr>
         <td>{{ this }}</td>
      </tr>
   {{/each}}
</table>

<ul>
   <!-- heach -->
   {{#each sports }}
      <li>{{ this }}</li>
   {{/each}}
</ul>


<!-- hbs -->
{{ Integer }} <br>
{{ Double }} <br>
{{ Character }} <br>
{{ Boolean }}